<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zach.gasTrade.dao.CustomerUserDao">
	
	 <!-- 查询sql结果与java model映射-->
	 <resultMap id="CustomerUserResultMap" type="com.zach.gasTrade.vo.CustomerUserVo">
         <result property="id" column="id"/>
         <result property="name" column="name"/>
         <result property="wxName" column="wx_name"/>
         <result property="wxOpenId" column="wx_open_id"/>
         <result property="sex" column="sex"/>
         <result property="phoneNumber" column="phone_number"/>
         <result property="address" column="address"/>
         <result property="longitude" column="longitude"/>
         <result property="latitude" column="latitude"/>
         <result property="channel" column="channel"/>
         <result property="remark" column="remark"/>
         <result property="createTime" column="create_time"/>
         <result property="updateTime" column="update_time"/>
     </resultMap>

     
    <!-- 公用查询sql-->
    <sql id="CustomerUserQuery">
	    id ,name ,wx_name ,wx_open_id ,sex ,phone_number ,address ,longitude ,latitude ,channel ,remark ,create_time ,update_time 
	</sql>
	
	
   <!--查询记录数-->
   <select id="getCustomerUserCount" parameterType="com.zach.gasTrade.vo.CustomerUserVo" resultType="java.lang.Integer" >                                             
     	<![CDATA[
	    select count(1)
	    from customer_user
	    ]]>
        <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="name !=null ">
		            and name like #{name}
		       </if>
	    	   <if  test="wxName !=null ">
		            and wx_name = #{wxName}
		       </if>
	    	   <if  test="wxOpenId !=null ">
		            and wx_open_id = #{wxOpenId}
		       </if>
	    	   <if  test="sex !=null ">
		            and sex = #{sex}
		       </if>
	    	   <if  test="phoneNumber !=null ">
		            and phone_number like #{phoneNumber}
		       </if>
	    	   <if  test="address !=null ">
		            and address = #{address}
		       </if>
	    	   <if  test="longitude !=null ">
		            and longitude = #{longitude}
		       </if>
	    	   <if  test="latitude !=null ">
		            and latitude = #{latitude}
		       </if>
	    	   <if  test="channel !=null ">
		            and channel = #{channel}
		       </if>
	    	   <if  test="remark !=null ">
		            and remark = #{remark}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    	   <if  test="updateTime !=null ">
		            and update_time = #{updateTime}
		       </if>
	    </where>	
   </select> 
   
   <select id="getCustomerUserList"  parameterType="com.zach.gasTrade.vo.CustomerUserVo" resultMap="CustomerUserResultMap">   
          select                                             
	      <include refid="CustomerUserQuery" />
	      from customer_user
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="name !=null ">
		            and name like #{name}
		       </if>
	    	   <if  test="wxName !=null ">
		            and wx_name = #{wxName}
		       </if>
	    	   <if  test="wxOpenId !=null ">
		            and wx_open_id = #{wxOpenId}
		       </if>
	    	   <if  test="sex !=null ">
		            and sex = #{sex}
		       </if>
	    	   <if  test="phoneNumber !=null ">
		            and phone_number like #{phoneNumber}
		       </if>
	    	   <if  test="address !=null ">
		            and address = #{address}
		       </if>
	    	   <if  test="longitude !=null ">
		            and longitude = #{longitude}
		       </if>
	    	   <if  test="latitude !=null ">
		            and latitude = #{latitude}
		       </if>
	    	   <if  test="channel !=null ">
		            and channel = #{channel}
		       </if>
	    	   <if  test="remark !=null ">
		            and remark = #{remark}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    	   <if  test="updateTime !=null ">
		            and update_time = #{updateTime}
		       </if>
	    </where>
     </select>
   
     <select id="getCustomerUserPage"  parameterType="com.zach.gasTrade.vo.CustomerUserVo" resultMap="CustomerUserResultMap">   
          select                                             
	      <include refid="CustomerUserQuery" />
	      from customer_user
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="name !=null ">
		            and name like #{name}
		       </if>
	    	   <if  test="wxName !=null ">
		            and wx_name = #{wxName}
		       </if>
	    	   <if  test="wxOpenId !=null ">
		            and wx_open_id = #{wxOpenId}
		       </if>
	    	   <if  test="sex !=null ">
		            and sex = #{sex}
		       </if>
	    	   <if  test="phoneNumber !=null ">
		            and phone_number like #{phoneNumber}
		       </if>
	    	   <if  test="address !=null ">
		            and address = #{address}
		       </if>
	    	   <if  test="longitude !=null ">
		            and longitude = #{longitude}
		       </if>
	    	   <if  test="latitude !=null ">
		            and latitude = #{latitude}
		       </if>
	    	   <if  test="channel !=null ">
		            and channel = #{channel}
		       </if>
	    	   <if  test="remark !=null ">
		            and remark = #{remark}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    	   <if  test="updateTime !=null ">
		            and update_time = #{updateTime}
		       </if>
	    </where>
	    order by update_time
	    limit #{startIndex},#{pageSize}
     </select>
     
     <select id="getCustomerUserBySelective"  parameterType="com.zach.gasTrade.vo.CustomerUserVo" resultMap="CustomerUserResultMap">   
          select                                             
	      <include refid="CustomerUserQuery" />
	      from customer_user
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="name !=null ">
		            and name = #{name}
		       </if>
	    	   <if  test="wxName !=null ">
		            and wx_name = #{wxName}
		       </if>
	    	   <if  test="wxOpenId !=null ">
		            and wx_open_id = #{wxOpenId}
		       </if>
	    	   <if  test="sex !=null ">
		            and sex = #{sex}
		       </if>
	    	   <if  test="phoneNumber !=null ">
		            and phone_number = #{phoneNumber}
		       </if>
	    	   <if  test="address !=null ">
		            and address = #{address}
		       </if>
	    	   <if  test="longitude !=null ">
		            and longitude = #{longitude}
		       </if>
	    	   <if  test="latitude !=null ">
		            and latitude = #{latitude}
		       </if>
	    	   <if  test="channel !=null ">
		            and channel = #{channel}
		       </if>
	    	   <if  test="remark !=null ">
		            and remark = #{remark}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    	   <if  test="updateTime !=null ">
		            and update_time = #{updateTime}
		       </if>
	    </where>
     </select>
     
    <!-- 删除 -->
    <delete id="delete" parameterType="com.zach.gasTrade.vo.CustomerUserVo">
    	<![CDATA[
	        DELETE FROM customer_user WHERE
		        id = #{id}    
    	]]>
    </delete>
    
     <!-- 修改 -->
    <update id="update"  parameterType="com.zach.gasTrade.vo.CustomerUserVo">
        UPDATE customer_user SET
        	<if test="name !=null "> 
        	name = #{name} ,
        	</if> 
        	<if test="wxName !=null "> 
        	wx_name = #{wxName} ,
        	</if> 
        	<if test="wxOpenId !=null "> 
        	wx_open_id = #{wxOpenId} ,
        	</if> 
        	<if test="sex !=null "> 
        	sex = #{sex} ,
        	</if> 
        	<if test="phoneNumber !=null "> 
        	phone_number = #{phoneNumber} ,
        	</if> 
        	<if test="address !=null "> 
        	address = #{address} ,
        	</if> 
        	<if test="longitude !=null "> 
        	longitude = #{longitude} ,
        	</if> 
        	<if test="latitude !=null "> 
        	latitude = #{latitude} ,
        	</if> 
        	<if test="channel !=null "> 
        	channel = #{channel} ,
        	</if> 
        	<if test="remark !=null "> 
        	remark = #{remark} ,
        	</if> 
        	<if test="createTime !=null "> 
        	create_time = #{createTime} ,
        	</if> 
        	<if test="updateTime !=null "> 
        	update_time = #{updateTime} 
        	</if> 
        WHERE 
        	id = #{id} 
    </update>
    
    <!-- 保存 -->
     <insert id="save" parameterType="com.zach.gasTrade.vo.CustomerUserVo" >
        INSERT INTO customer_user (
	        <if test="id !=null ">
	        	id ,
	        </if>	
	        <if test="name !=null ">
	        	name ,
	        </if>	
	        <if test="wxName !=null ">
	        	wx_name ,
	        </if>	
	        <if test="wxOpenId !=null ">
	        	wx_open_id ,
	        </if>	
	        <if test="sex !=null ">
	        	sex ,
	        </if>	
	        <if test="phoneNumber !=null ">
	        	phone_number ,
	        </if>	
	        <if test="address !=null ">
	        	address ,
	        </if>	
	        <if test="longitude !=null ">
	        	longitude ,
	        </if>	
	        <if test="latitude !=null ">
	        	latitude ,
	        </if>	
	        <if test="channel !=null ">
	        	channel ,
	        </if>	
	        <if test="remark !=null ">
	        	remark ,
	        </if>	
	        <if test="createTime !=null ">
	        	create_time ,
	        </if>	
	        <if test="updateTime !=null ">
	        	update_time 
	        </if>	
        ) VALUES (
	        <if test="id !=null ">
	        	#{id} ,
	        </if>	
	        <if test="name !=null ">
	        	#{name} ,
	        </if>	
	        <if test="wxName !=null ">
	        	#{wxName} ,
	        </if>	
	        <if test="wxOpenId !=null ">
	        	#{wxOpenId} ,
	        </if>	
	        <if test="sex !=null ">
	        	#{sex} ,
	        </if>	
	        <if test="phoneNumber !=null ">
	        	#{phoneNumber} ,
	        </if>	
	        <if test="address !=null ">
	        	#{address} ,
	        </if>	
	        <if test="longitude !=null ">
	        	#{longitude} ,
	        </if>	
	        <if test="latitude !=null ">
	        	#{latitude} ,
	        </if>	
	        <if test="channel !=null ">
	        	#{channel} ,
	        </if>	
	        <if test="remark !=null ">
	        	#{remark} ,
	        </if>	
	        <if test="createTime !=null ">
	        	#{createTime} ,
	        </if>	
	        <if test="updateTime !=null ">
	        	#{updateTime} 
	        </if>	
        )
   </insert>
</mapper>

