<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zach.gasTrade.dao.DeliveryUserDao">
	
	 <!-- 查询sql结果与java model映射-->
	 <resultMap id="DeliveryUserResultMap" type="com.zach.gasTrade.vo.DeliveryUserVo">
         <result property="id" column="id"/>
         <result property="name" column="name"/>
         <result property="wxOpenId" column="wx_open_id"/>
         <result property="phoneNumber" column="phone_number"/>
         <result property="loginName" column="login_name"/>
         <result property="password" column="password"/>
         <result property="equipNo" column="equip_no"/>
         <result property="idcardNo" column="idcard_no"/>
         <result property="address" column="address"/>
         <result property="stockQty" column="stock_qty"/>
         <result property="remark" column="remark"/>
         <result property="accountStatus" column="account_status"/>
         <result property="workStatus" column="work_status"/>
         <result property="frozenReason" column="frozen_reason"/>
         <result property="createTime" column="create_time"/>
         <result property="updateTime" column="update_time"/>
     </resultMap>

     
    <!-- 公用查询sql-->
    <sql id="DeliveryUserQuery">
	    id ,name,wx_open_id ,phone_number ,login_name ,password ,equip_no ,idcard_no ,stock_qty,address ,remark ,account_status ,work_status ,frozen_reason ,create_time ,update_time 
	</sql>
	
	
   <!--查询记录数-->
   <select id="getDeliveryUserCount" parameterType="java.util.Map" resultType="java.lang.Integer" >                                             
     	<![CDATA[
	    select count(1)
	    from delivery_user
	    ]]>
        <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
		       <if  test="wxOpenId !=null ">
		            and wx_open_id = #{wxOpenId}
		       </if>
	    	   <if  test="name !=null ">
		            and name like concat(concat(#{name},"%"))
		       </if>
	    	   <if  test="phoneNumber !=null ">
		            and phone_number like concat(concat(#{phoneNumber},"%"))
		       </if>
	    	   <if  test="loginName !=null ">
		            and login_name = #{loginName}
		       </if>
	    	   <if  test="password !=null ">
		            and password = #{password}
		       </if>
	    	   <if  test="equipNo !=null ">
		            and equip_no = #{equipNo}
		       </if>
	    	   <if  test="idcardNo !=null ">
		            and idcard_no = #{idcardNo}
		       </if>
	    	   <if  test="address !=null ">
		            and address = #{address}
		       </if>
		       <if  test="stockQty !=null ">
		            and stock_qty = #{stockQty}
		       </if>
	    	   <if  test="remark !=null ">
		            and remark = #{remark}
		       </if>
	    	   <if  test="accountStatus !=null ">
		            and account_status = #{accountStatus}
		       </if>
	    	   <if  test="workStatus !=null ">
		            and work_status = #{workStatus}
		       </if>
	    	   <if  test="frozenReason !=null ">
		            and frozen_reason = #{frozenReason}
		       </if>
	    	   <if  test="createTime !=null ">
		            and DATE_FORMAT(create_time,'%Y-%m-%d') = #{createTime}
		       </if>
	    	   <if  test="updateTime !=null ">
		            and update_time = #{updateTime}
		       </if>
	    </where>	
   </select> 
   
   <select id="getDeliveryUserList"  parameterType="com.zach.gasTrade.vo.DeliveryUserVo" resultMap="DeliveryUserResultMap">   
          select                                             
	      <include refid="DeliveryUserQuery" />
	      from delivery_user
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="name !=null ">
		            and name = #{name}
		       </if>
		       <if  test="wxOpenId !=null ">
		            and wx_open_id = #{wxOpenId}
		       </if>
	    	   <if  test="phoneNumber !=null ">
		            and phone_number = #{phoneNumber}
		       </if>
	    	   <if  test="loginName !=null ">
		            and login_name = #{loginName}
		       </if>
	    	   <if  test="password !=null ">
		            and password = #{password}
		       </if>
	    	   <if  test="equipNo !=null ">
		            and equip_no = #{equipNo}
		       </if>
	    	   <if  test="idcardNo !=null ">
		            and idcard_no = #{idcardNo}
		       </if>
	    	   <if  test="address !=null ">
		            and address = #{address}
		       </if>
		       <if  test="stockQty !=null ">
		            and stock_qty = #{stockQty}
		       </if>
	    	   <if  test="remark !=null ">
		            and remark = #{remark}
		       </if>
	    	   <if  test="accountStatus !=null ">
		            and account_status = #{accountStatus}
		       </if>
	    	   <if  test="workStatus !=null ">
		            and work_status = #{workStatus}
		       </if>
	    	   <if  test="frozenReason !=null ">
		            and frozen_reason = #{frozenReason}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    	   <if  test="updateTime !=null ">
		            and update_time = #{updateTime}
		       </if>
	    </where>
     </select>
     
    <!-- 模糊查询派送员列表,用来选择 -->
   <select id="selectDeliveryUserList"  parameterType="java.util.Map" resultMap="DeliveryUserResultMap">   
          select                                             
	      	id ,name,phone_number ,login_name ,address,account_status ,work_status
	      from delivery_user
	      	where account_status='10'
	      	<if  test="selectParam !=null ">
	          and (name like  CONCAT('%',#{selectParam},'%')
	      		or phone_number = #{selectParam}
	      		or login_name = #{selectParam} )
		    </if>
     </select>
   
     <select id="getDeliveryUserPage"  parameterType="java.util.Map" resultMap="DeliveryUserResultMap">   
          select                                             
	      <include refid="DeliveryUserQuery" />
	      from delivery_user
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
		       <if  test="wxOpenId !=null ">
		            and wx_open_id = #{wxOpenId}
		       </if>
	    	   <if  test="name !=null ">
		            and name like concat(concat(#{name},"%"))
		       </if>
	    	   <if  test="phoneNumber !=null ">
		            and phone_number like concat(concat(#{phoneNumber},"%"))
		       </if>
	    	   <if  test="loginName !=null ">
		            and login_name = #{loginName}
		       </if>
	    	   <if  test="password !=null ">
		            and password = #{password}
		       </if>
	    	   <if  test="equipNo !=null ">
		            and equip_no = #{equipNo}
		       </if>
	    	   <if  test="idcardNo !=null ">
		            and idcard_no = #{idcardNo}
		       </if>
	    	   <if  test="address !=null ">
		            and address = #{address}
		       </if>
		       <if  test="stockQty !=null ">
		            and stock_qty = #{stockQty}
		       </if>
	    	   <if  test="remark !=null ">
		            and remark = #{remark}
		       </if>
	    	   <if  test="accountStatus !=null ">
		            and account_status = #{accountStatus}
		       </if>
	    	   <if  test="workStatus !=null ">
		            and work_status = #{workStatus}
		       </if>
	    	   <if  test="frozenReason !=null ">
		            and frozen_reason = #{frozenReason}
		       </if>
	    	   <if  test="createTime !=null ">
	    	        and DATE_FORMAT(create_time,'%Y-%m-%d') = #{createTime}
		       </if>
	    	   <if  test="updateTime !=null ">
		            and update_time = #{updateTime}
		       </if>
	    </where>
	    order by update_time desc
	    limit #{startIndex},#{pageSize}
     </select>
     
     <select id="getDeliveryUserBySelective"  parameterType="com.zach.gasTrade.vo.DeliveryUserVo" resultMap="DeliveryUserResultMap">   
          select                                             
	      <include refid="DeliveryUserQuery" />
	      from delivery_user
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
		       <if  test="wxOpenId !=null ">
		            and wx_open_id = #{wxOpenId}
		       </if>
	    	   <if  test="name !=null ">
		            and name = #{name}
		       </if>
	    	   <if  test="phoneNumber !=null ">
		            and phone_number = #{phoneNumber}
		       </if>
	    	   <if  test="loginName !=null ">
		            and login_name = #{loginName}
		       </if>
	    	   <if  test="password !=null ">
		            and password = #{password}
		       </if>
	    	   <if  test="equipNo !=null ">
		            and equip_no = #{equipNo}
		       </if>
	    	   <if  test="idcardNo !=null ">
		            and idcard_no = #{idcardNo}
		       </if>
	    	   <if  test="address !=null ">
		            and address = #{address}
		       </if>
		       <if  test="stockQty !=null ">
		            and stock_qty = #{stockQty}
		       </if>
	    	   <if  test="remark !=null ">
		            and remark = #{remark}
		       </if>
	    	   <if  test="accountStatus !=null ">
		            and account_status = #{accountStatus}
		       </if>
	    	   <if  test="workStatus !=null ">
		            and work_status = #{workStatus}
		       </if>
	    	   <if  test="frozenReason !=null ">
		            and frozen_reason = #{frozenReason}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    	   <if  test="updateTime !=null ">
		            and update_time = #{updateTime}
		       </if>
	    </where>
     </select>
     
    <!-- 删除 -->
    <delete id="delete" parameterType="com.zach.gasTrade.vo.DeliveryUserVo">
    	<![CDATA[
	        DELETE FROM delivery_user WHERE
		        id = #{id}    
    	]]>
    </delete>
    
     <!-- 修改 -->
    <update id="update"  parameterType="com.zach.gasTrade.vo.DeliveryUserVo">
        UPDATE delivery_user SET
        	<if test="name !=null "> 
        	name = #{name} ,
        	</if> 
        	<if test="wxOpenId !=null "> 
        	wx_open_id = #{wxOpenId} ,
        	</if> 
        	<if test="phoneNumber !=null "> 
        	phone_number = #{phoneNumber} ,
        	</if> 
        	<if test="loginName !=null "> 
        	login_name = #{loginName} ,
        	</if> 
        	<if test="password !=null "> 
        	password = #{password} ,
        	</if> 
        	<if test="equipNo !=null "> 
        	equip_no = #{equipNo} ,
        	</if> 
        	<if test="idcardNo !=null "> 
        	idcard_no = #{idcardNo} ,
        	</if> 
        	<if test="address !=null "> 
        	address = #{address} ,
        	</if> 
        	<if test="stockQty !=null "> 
        	stock_qty = #{stockQty} ,
        	</if>
        	<if test="remark !=null "> 
        	remark = #{remark} ,
        	</if> 
        	<if test="accountStatus !=null "> 
        	account_status = #{accountStatus} ,
        	</if> 
        	<if test="workStatus !=null "> 
        	work_status = #{workStatus} ,
        	</if> 
        	<if test="frozenReason !=null "> 
        	frozen_reason = #{frozenReason} ,
        	</if> 
        	<if test="createTime !=null "> 
        	create_time = #{createTime} ,
        	</if> 
        	<if test="updateTime !=null "> 
        	update_time = #{updateTime} 
        	</if> 
        WHERE 
        	id = #{id} 
    </update>
    
    <!-- 保存 -->
     <insert id="save" parameterType="com.zach.gasTrade.dto.DeliveryUserVo" >
        INSERT INTO delivery_user (
	        <if test="id !=null ">
	        	id ,
	        </if>	
	        <if test="wxOpenId !=null ">
	        	wx_open_id ,
	        </if>
	        <if test="name !=null ">
	        	name ,
	        </if>	
	        <if test="phoneNumber !=null ">
	        	phone_number ,
	        </if>	
	        <if test="loginName !=null ">
	        	login_name ,
	        </if>	
	        <if test="password !=null ">
	        	password ,
	        </if>	
	        <if test="equipNo !=null ">
	        	equip_no ,
	        </if>	
	        <if test="idcardNo !=null ">
	        	idcard_no ,
	        </if>	
	        <if test="address !=null ">
	        	address ,
	        </if>
	        <if test="stockQty !=null ">
	        	stock_qty ,
	        </if>	
	        <if test="remark !=null ">
	        	remark ,
	        </if>	
	        <if test="accountStatus !=null ">
	        	account_status ,
	        </if>	
	        <if test="workStatus !=null ">
	        	work_status ,
	        </if>	
	        <if test="frozenReason !=null ">
	        	frozen_reason ,
	        </if>	
	        <if test="createTime !=null ">
	        	create_time ,
	        </if>	
	        <if test="updateTime !=null ">
	        	update_time 
	        </if>	
        ) VALUES (
	        <if test="id !=null ">
	        	#{id} ,
	        </if>
	        <if test="wxOpenId !=null ">
	        	#{wxOpenId} ,
	        </if>	
	        <if test="name !=null ">
	        	#{name} ,
	        </if>	
	        <if test="phoneNumber !=null ">
	        	#{phoneNumber} ,
	        </if>	
	        <if test="loginName !=null ">
	        	#{loginName} ,
	        </if>	
	        <if test="password !=null ">
	        	#{password} ,
	        </if>	
	        <if test="equipNo !=null ">
	        	#{equipNo} ,
	        </if>	
	        <if test="idcardNo !=null ">
	        	#{idcardNo} ,
	        </if>	
	        <if test="address !=null ">
	        	#{address} ,
	        </if>
	        <if test="stockQty !=null ">
	        	#{stockQty} ,
	        </if>	
	        <if test="remark !=null ">
	        	#{remark} ,
	        </if>	
	        <if test="accountStatus !=null ">
	        	#{accountStatus} ,
	        </if>	
	        <if test="workStatus !=null ">
	        	#{workStatus} ,
	        </if>	
	        <if test="frozenReason !=null ">
	        	#{frozenReason} ,
	        </if>	
	        <if test="createTime !=null ">
	        	#{createTime} ,
	        </if>	
	        <if test="updateTime !=null ">
	        	#{updateTime} 
	        </if>	
        )
   </insert>
</mapper>

