<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zach.gasTrade.dao.OrderFinanceStatisticsDao">
	
	 <!-- 查询sql结果与java model映射-->
	 <resultMap id="OrderFinanceStatisticsResultMap" type="com.zach.gasTrade.vo.OrderFinanceStatisticsVo">
         <result property="id" column="id"/>
         <result property="date" column="date"/>
         <result property="buyerCount" column="buyer_count"/>
         <result property="orderCount" column="order_count"/>
         <result property="payOrderCount" column="pay_order_count"/>
         <result property="deliveryOrderCount" column="delivery_order_count"/>
         <result property="avgAmount" column="avg_amount"/>
         <result property="orderAmount" column="order_amount"/>
         <result property="createTime" column="create_time"/>
     </resultMap>

     
    <!-- 公用查询sql-->
    <sql id="OrderFinanceStatisticsQuery">
	    id ,date ,buyer_count ,order_count ,pay_order_count ,delivery_order_count ,avg_amount ,order_amount ,create_time 
	</sql>
	
	
   <!--查询记录数-->
   <select id="getOrderFinanceStatisticsCount" parameterType="com.zach.gasTrade.vo.OrderFinanceStatisticsVo" resultType="java.lang.Integer" >                                             
     	<![CDATA[
	    select count(1)
	    from order_finance_statistics
	    ]]>
        <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="date !=null ">
		            and date = #{date}
		       </if>
	    	   <if  test="buyerCount !=null ">
		            and buyer_count = #{buyerCount}
		       </if>
	    	   <if  test="orderCount !=null ">
		            and order_count = #{orderCount}
		       </if>
	    	   <if  test="payOrderCount !=null ">
		            and pay_order_count = #{payOrderCount}
		       </if>
	    	   <if  test="deliveryOrderCount !=null ">
		            and delivery_order_count = #{deliveryOrderCount}
		       </if>
	    	   <if  test="avgAmount !=null ">
		            and avg_amount = #{avgAmount}
		       </if>
	    	   <if  test="orderAmount !=null ">
		            and order_amount = #{orderAmount}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    </where>	
   </select> 
   
   <select id="getOrderFinanceStatisticsList"  parameterType="com.zach.gasTrade.vo.OrderFinanceStatisticsVo" resultMap="OrderFinanceStatisticsResultMap">   
          select                                             
	      <include refid="OrderFinanceStatisticsQuery" />
	      from order_finance_statistics
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="date !=null ">
		            and date = #{date}
		       </if>
	    	   <if  test="buyerCount !=null ">
		            and buyer_count = #{buyerCount}
		       </if>
	    	   <if  test="orderCount !=null ">
		            and order_count = #{orderCount}
		       </if>
	    	   <if  test="payOrderCount !=null ">
		            and pay_order_count = #{payOrderCount}
		       </if>
	    	   <if  test="deliveryOrderCount !=null ">
		            and delivery_order_count = #{deliveryOrderCount}
		       </if>
	    	   <if  test="avgAmount !=null ">
		            and avg_amount = #{avgAmount}
		       </if>
	    	   <if  test="orderAmount !=null ">
		            and order_amount = #{orderAmount}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    </where>
     </select>
     
     

   
     <select id="getOrderFinanceStatisticsPage"  parameterType="com.zach.gasTrade.vo.OrderFinanceStatisticsVo" resultMap="OrderFinanceStatisticsResultMap">   
          select                                             
	      <include refid="OrderFinanceStatisticsQuery" />
	      from order_finance_statistics
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="date !=null ">
		            and date = #{date}
		       </if>
	    	   <if  test="buyerCount !=null ">
		            and buyer_count = #{buyerCount}
		       </if>
	    	   <if  test="orderCount !=null ">
		            and order_count = #{orderCount}
		       </if>
	    	   <if  test="payOrderCount !=null ">
		            and pay_order_count = #{payOrderCount}
		       </if>
	    	   <if  test="deliveryOrderCount !=null ">
		            and delivery_order_count = #{deliveryOrderCount}
		       </if>
	    	   <if  test="avgAmount !=null ">
		            and avg_amount = #{avgAmount}
		       </if>
	    	   <if  test="orderAmount !=null ">
		            and order_amount = #{orderAmount}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    </where>
	    order by update_time
	    limit #{startIndex},#{pageSize}
     </select>
     
     <select id="getOrderFinanceStatisticsBySelective"  parameterType="com.zach.gasTrade.vo.OrderFinanceStatisticsVo" resultMap="OrderFinanceStatisticsResultMap">   
          select                                             
	      <include refid="OrderFinanceStatisticsQuery" />
	      from order_finance_statistics
	      <where>
	    	   <if  test="id !=null ">
		            and id = #{id}
		       </if>
	    	   <if  test="date !=null ">
		            and date = #{date}
		       </if>
	    	   <if  test="buyerCount !=null ">
		            and buyer_count = #{buyerCount}
		       </if>
	    	   <if  test="orderCount !=null ">
		            and order_count = #{orderCount}
		       </if>
	    	   <if  test="payOrderCount !=null ">
		            and pay_order_count = #{payOrderCount}
		       </if>
	    	   <if  test="deliveryOrderCount !=null ">
		            and delivery_order_count = #{deliveryOrderCount}
		       </if>
	    	   <if  test="avgAmount !=null ">
		            and avg_amount = #{avgAmount}
		       </if>
	    	   <if  test="orderAmount !=null ">
		            and order_amount = #{orderAmount}
		       </if>
	    	   <if  test="createTime !=null ">
		            and create_time = #{createTime}
		       </if>
	    </where>
     </select>
     
    <!-- 删除 -->
    <delete id="delete" parameterType="com.zach.gasTrade.vo.OrderFinanceStatisticsVo">
    	<![CDATA[
	        DELETE FROM order_finance_statistics WHERE
		        id = #{id}    
    	]]>
    </delete>
    
     <!-- 修改 -->
    <update id="update"  parameterType="com.zach.gasTrade.vo.OrderFinanceStatisticsVo">
        UPDATE order_finance_statistics SET
        	<if test="date !=null "> 
        	date = #{date} ,
        	</if> 
        	<if test="buyerCount !=null "> 
        	buyer_count = #{buyerCount} ,
        	</if> 
        	<if test="orderCount !=null "> 
        	order_count = #{orderCount} ,
        	</if> 
        	<if test="payOrderCount !=null "> 
        	pay_order_count = #{payOrderCount} ,
        	</if> 
        	<if test="deliveryOrderCount !=null "> 
        	delivery_order_count = #{deliveryOrderCount} ,
        	</if> 
        	<if test="avgAmount !=null "> 
        	avg_amount = #{avgAmount} ,
        	</if> 
        	<if test="orderAmount !=null "> 
        	order_amount = #{orderAmount} ,
        	</if> 
        	<if test="createTime !=null "> 
        	create_time = #{createTime} 
        	</if> 
        WHERE 
        	id = #{id} 
    </update>
    
    <!-- 保存 -->
     <insert id="save" parameterType="com.zach.gasTrade.vo.OrderFinanceStatisticsVo" >
        INSERT INTO order_finance_statistics (
	        <if test="id !=null ">
	        	id ,
	        </if>	
	        <if test="date !=null ">
	        	date ,
	        </if>	
	        <if test="buyerCount !=null ">
	        	buyer_count ,
	        </if>	
	        <if test="orderCount !=null ">
	        	order_count ,
	        </if>	
	        <if test="payOrderCount !=null ">
	        	pay_order_count ,
	        </if>	
	        <if test="deliveryOrderCount !=null ">
	        	delivery_order_count ,
	        </if>	
	        <if test="avgAmount !=null ">
	        	avg_amount ,
	        </if>	
	        <if test="orderAmount !=null ">
	        	order_amount ,
	        </if>	
	        <if test="createTime !=null ">
	        	create_time 
	        </if>	
        ) VALUES (
	        <if test="id !=null ">
	        	#{id} ,
	        </if>	
	        <if test="date !=null ">
	        	#{date} ,
	        </if>	
	        <if test="buyerCount !=null ">
	        	#{buyerCount} ,
	        </if>	
	        <if test="orderCount !=null ">
	        	#{orderCount} ,
	        </if>	
	        <if test="payOrderCount !=null ">
	        	#{payOrderCount} ,
	        </if>	
	        <if test="deliveryOrderCount !=null ">
	        	#{deliveryOrderCount} ,
	        </if>	
	        <if test="avgAmount !=null ">
	        	#{avgAmount} ,
	        </if>	
	        <if test="orderAmount !=null ">
	        	#{orderAmount} ,
	        </if>	
	        <if test="createTime !=null ">
	        	#{createTime} 
	        </if>	
        )
   </insert>
</mapper>

